<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="stark.magicinsight.dao.UserVideoInfoMapper">
    <resultMap id="UserVideoInfoResultMap" type="stark.magicinsight.domain.entities.UserVideoInfo">
        <id property="id" column="id"/>
        <result property="nameInOss" column="name_in_oss"/>
        <result property="title" column="title"/>
        <result property="coverUrl" column="cover_url"/>
        <result property="introduction" column="introduction"/>
        <result property="creatorId" column="creator_id"/>
        <result property="creationTime" column="creation_time"/>
        <result property="modifierId" column="modifier_id"/>
        <result property="modificationTime" column="modification_time"/>
    </resultMap>

    <resultMap id="VideoPlayInfoMap" type="stark.magicinsight.dto.results.VideoPlayInfo">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="nameInOss" column="name_in_oss"/>
        <result property="coverUrl" column="cover_url"/>
        <result property="introduction" column="introduction"/>
        <result property="creatorId" column="creator_id"/>
        <result property="creatorName" column="creator_name"/>
        <result property="creationTime" column="creation_time"/>
        <result property="modificationTime" column="modification_time"/>
        <result property="playCount" column="play_count"/>
        <result property="favoritesCount" column="favorites_count"/>
        <result property="likeCount" column="like_count"/>
        <result property="commentCount" column="comment_count"/>
        <result property="userLikes" column="user_likes"/>
        <result property="userFavorites" column="user_favorites"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `user_video_info`
        (
            `name_in_oss`,
            `title`,
            `cover_url`,
            `introduction`,
            `creator_id`,
            `creation_time`,
            `modifier_id`,
            `modification_time`
        )
        VALUES
        (
            #{nameInOss},
            #{title},
            #{coverUrl},
            #{introduction},
            #{creatorId},
            #{creationTime},
            #{modifierId},
            #{modificationTime}
        )
    </insert>

    <update id="updateVideoInfoById">
        UPDATE `user_video_info`
        SET `title` = #{title},
            `cover_url` = #{coverUrl},
            `introduction` = #{introduction}
        WHERE `id` = #{id}
    </update>

    <select id="getVideoPlayInfosByUserId" resultMap="VideoPlayInfoMap">
        SELECT uvi.`id`                         AS `id`,
               uvi.`title`                      AS `title`,
               uvi.`name_in_oss`                AS `name_in_oss`,
               uvi.`cover_url`                  AS `cover_url`,
               uvi.`introduction`               AS `introduction`,
               uvi.`creation_time`              AS `creation_time`,
               uvi.`modification_time`          AS `modification_time`,
               COALESCE(uvc.comment_count, 0)   AS `comment_count`
        FROM `user_video_info` uvi
        LEFT JOIN
        (
            SELECT
                `video_id`,
                COUNT(*) AS comment_count
            FROM `user_video_comment`
            WHERE `video_id` IN (SELECT `id` FROM `user_video_info` WHERE `creator_id` = #{userId})
            GROUP BY `video_id`
        ) AS uvc
        ON uvi.`id` = uvc.`video_id`
        WHERE uvi.`creator_id` = #{userId}
          AND uvi.`title` IS NOT NULL
        ORDER BY `creation_time` DESC
        LIMIT #{pageCapacity} OFFSET #{offset}
    </select>
    
    <select id="countVideoByUserId" resultType="long">
        SELECT COUNT(*)
        FROM `user_video_info`
        WHERE `creator_id` = #{userId}
          AND `title` IS NOT NULL
    </select>

    <select id="getVideoBaseInfoById" resultMap="UserVideoInfoResultMap">
        SELECT
            `id`,
            `name_in_oss`,
            `title`,
            `cover_url`,
            `introduction`,
            `creator_id`,
            `creation_time`,
            `modifier_id`,
            `modification_time`
        FROM `user_video_info`
        WHERE `id` = #{id}
    </select>

    <!-- TODO: Optimize the join here, try to reduce the count of joins. -->
    <select id="getVideoPlayInfoById" resultMap="VideoPlayInfoMap">
        SELECT uvi.`id`                                       AS `id`,
               uvi.`title`                                    AS `title`,
               uvi.`name_in_oss`                              AS `name_in_oss`,
               uvi.`cover_url`                                AS `cover_url`,
               uvi.`introduction`                             AS `introduction`,
               uvi.`creator_id`                               AS `creator_id`,
               abi.`username`                                 AS `creator_name`,
               uvi.`creation_time`                            AS `creation_time`,
               uvi.`modification_time`                        AS `modification_time`,
               COALESCE(uvc.comment_count, 0)                 AS `comment_count`
        FROM `user_video_info` uvi
        LEFT JOIN
        (
            SELECT
                `video_id`,
                COUNT(*) AS comment_count
            FROM `user_video_comment`
            WHERE `video_id` = #{videoId}
            GROUP BY `video_id`
        ) AS uvc
        ON uvi.`id` = uvc.`video_id`
        INNER JOIN `account_base_info` abi ON uvi.`creator_id` = abi.`id`
        WHERE uvi.`id` = #{videoId}
          AND uvi.`title` IS NOT NULL
    </select>

    <select id="countVideoById" resultType="long">
        SELECT COUNT(*)
        FROM `user_video_info`
        WHERE `id` = #{id}
    </select>

    <update id="setVideoSummaryFileNameById">
        UPDATE `user_video_info`
        SET `summary_file_name` = #{summaryFileName}
        WHERE `id` = #{id}
    </update>

    <select id="getVideoSummaryFileNameById" resultType="string">
        SELECT `summary_file_name`
        FROM `user_video_info`
        WHERE `id` = #{id}
    </select>
</mapper>